@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-lavender-light: #d4a3fb;
    --color-lavender-base: #bc8ee9;
    --color-purple-medium: #9665c2;
    --color-purple-strong: #7725c7;
    --color-black-soft: #161516;
    --color-white-soft: #fdfcfe;
    --color-yellow-accent: #eed86b;
    --color-mint-accent: #8bf9ac;
    --font-geist: var(--font-geist);
    --font-cabinet-grotesk: var(--font-cabinet-grotesk);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --ease-bouncy: cubic-bezier(0.34, 1.56, 0.64, 1);
}
